/* reset */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* variables */
:root {
	--red: #ef4444;
	--blue: #02b3e4;
	--white: #f5f5f5;
	--dark-blue: #0e8fb5;
	--navy-blue: #2e3d49;
	--darker-blue: #0f85a8;
	--dark-navy-blue: #27333e;
	--blue-highlight: #02b3e435;
	--rounded: 0.5rem;
	--rounded-sm: 0.2rem;
	--smooth: all 0.15s;
	font-size: 62.5%; /* percentage of user's browser font-size */
}

/* global styles */
body {
	display: flex;
	flex-direction: column;
	height: 100dvh;
	padding: 1rem;
	font: normal normal 400 2rem 'Inter', sans-serif; /* font: font-style font-variant font-weight font-size/line-height font-family; */
	color: var(--white);
	background-color: var(--navy-blue);
}
button {
	border: none;
	cursor: pointer;
	transition: var(--smooth);
}
button:active {
	scale: 0.9;
}
button:focus-visible {
	outline-offset: 0.3rem;
	outline: 0.25rem solid var(--white);
}
.selected-cell {
	position: relative;
	z-index: 1;
	color: var(--white) !important;
	font-weight: 700;
	border-radius: var(--rounded-sm);
	outline: 0.25rem solid var(--white);
	background-color: var(--dark-blue) !important;
}
.highlighted-cell {
	background-color: var(--blue-highlight);
}

/* non-desktop device warning modal */
.warning-modal[open] {
	position: fixed;
	z-index: 2;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	gap: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 85%;
	max-width: 35rem;
	padding: 1.5rem;
	border-radius: var(--rounded);
   border-color: var(--dark-blue);
   color: var(--white);
	background: var(--dark-navy-blue);
	font-weight: 400;
	line-height: 2.5rem;
	text-align: center;
}
.warning-modal[open]::backdrop {
	background: rgba(0, 0, 0, 0.75);
}
.warning-modal__close-btn {
	padding: 1rem 5rem;
	background: var(--dark-blue);
	border-radius: var(--rounded);
	box-shadow: 0 0 5px 0 var(--dark-navy-blue);
	font-weight: 700;
   color: var(--white);
   font-size: 1.5rem;
   outline: none !important;
}

/* header */
.header {
	text-align: center;
	margin-top: -0.5rem;
	margin-bottom: 1.5rem;
}
.header__title {
	font-size: 2.5rem;
	margin-bottom: 0.5rem;
}

/* contact links */
.contact-links {
	font-size: 1.2rem;
	font-style: normal;
}
.contact-links__author {
	color: var(--blue);
	transition: var(--smooth);
	outline-offset: 0.1rem;
	border-radius: var(--rounded-sm);
}
.contact-links__author:focus-visible {
	outline: 0.2rem solid var(--blue);
}
.contact-links__author:visited:focus-visible {
	outline: 0.2rem solid var(--dark-blue);
}

/* main content */
.wrapper {
	width: 100%;
	max-width: 60rem;
	margin: auto;
	height: 100%;
	overflow: hidden;
	border-radius: var(--rounded);
}
.main {
	width: 100%;
	margin: auto;
	height: 100%;
	overflow-x: auto;
	padding: 0.25rem;
}

/* table */
.table {
	width: 100%;
	height: 100%;
	cursor: default;
	user-select: none;
	border-spacing: 0;
	text-align: center;
}
.table th {
	background-color: var(--dark-navy-blue);
	font-weight: 700;
	color: var(--white);
}
.table td {
	color: var(--blue);
}
.table :where(th, td):not(:last-child) {
	/* apply to all 'th' and 'td' elements except for the last ones */
	border-right: 0.15rem solid var(--dark-blue);
}
.table :where(th, td) {
	width: 5.5rem;
	height: 5.5rem;
	font-size: 1.5rem;
}
.table :where(.table__head tr, .table__body tr:not(:last-child)) :where(td, th) {
	/* apply to all 'th' and 'td' elements except for the ones in the last 'tr' element in '.table__body' */
	border-bottom: 0.15rem solid var(--dark-blue);
}
.table__head {
	position: sticky;
	inset: -0.3rem 0 auto 0;
}

/* hover support */
@media (hover: hover) {
	.warning-modal__close-btn:hover {
		background: var(--darker-blue);
	}
	.contact-links__author:hover {
		color: var(--dark-blue);
	}
	.contact-links__author:visited:hover {
		color: var(--darker-blue);
	}
	.table :is(th, td):is(:hover, :focus-visible) {
		/* apply to all table cells when selected or on hover */
		z-index: 1;
		position: relative;
		font-weight: 700;
		color: var(--white);
		border-radius: var(--rounded-sm);
		outline: 0.25rem solid var(--white);
		background-color: var(--dark-blue);
	}
}

/* responsive */
@media screen and (min-width: 600px) {
	.table :where(th, td) {
		width: 6rem;
		height: 6rem;
		font-size: 1.8rem;
	}
}
@media screen and (min-width: 1000px) {
	.header__title {
		font-size: 2.8rem;
		letter-spacing: 0.2rem;
	}
	.contact-links {
		font-size: 1.3rem;
	}
	.wrapper {
		width: 100%;
		max-width: 100rem;
	}
	.table :where(th, td) {
		font-size: 2.2rem;
	}
}
